/.DS_Store
/.ipynb_checkpoints
/Assignment 1- Gkoutha Maria.ipynb
/Assignment 2 - Emilia Knudsen-Bielaszewska.ipynb
/Assignment 2- Maria first part.ipynb
/Assignment 2- Warming up.ipynb
/Assignment 2-Gkoutha Maria.ipynb
/Exercise 9-Gkoutha.ipynb
/GROUP PROJECT.ipynb
/MacroDataScience.csv
/Programming.pdf
/Untitled.ipynb
/Untitled1.ipynb
/exercise 8-Gkoutha.ipynb
/group_project.py